@keyframes fadeInLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rollOut {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.roll-out-text {
  animation: rollOut 1s ease-out;
}

.fade-in-left-to-right {
  animation: fadeInLeftToRight 3s ease-out;
}

.imgIcon:nth-child(1) {
  animation-delay: 1s;
}

.imgIcon:nth-child(2) {
  animation-delay: 2s;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #d3d3d3;
}

header {
  padding: 20px 0;
}
header .row {
  display: flex;
  align-items: center;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}
footer .row {
  display: flex;
  align-items: center;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
footer ul {
  list-style: none;
}

h1 {
  font-weight: 700;
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("images/xeno-eclipse.jpg");
  background-size: cover;
  color: #ffffff;
  height: 400px;
}
.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}
.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.titles {
  font-family: "Macondo", cursive;
  font-size: 2rem;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  background-color: #ffffff;
}
.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #2a70e0;
  color: #ffffff;
  margin: 0 0 30px;
}

figure {
  margin-bottom: 30px;
}
figure img {
  width: 100%;
  height: auto;
}

.imageHolder {
  height: 160px;
  display: flex;
  align-items: center;
}

#profilePic {
  width: 100%;
}

.views {
  display: none;
}

.presser {
  cursor: pointer;
}

.hide {
  display: none;
}

.javascript {
  background: linear-gradient(rgba(251, 255, 4, 0.2), rgba(247, 248, 170, 0.2));
}

.sass {
  background: linear-gradient(rgba(239, 6, 247, 0.2), rgba(252, 168, 245, 0.2));
}

.htmlCss {
  background: linear-gradient(rgba(24, 132, 255, 0.2), rgba(142, 194, 253, 0.2));
}

.bootstrap {
  background: linear-gradient(rgba(111, 0, 255, 0.2), rgba(109, 49, 248, 0.2));
}

.logo {
  margin: 2%;
}
.logo img {
  height: 60px;
  border-radius: 15%;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo2 img {
  height: 40px;
}

.logo3 img {
  width: 5px;
}

.imagist {
  width: 100%;
  display: block;
  transition: filter 0.3s ease;
  border-radius: 20px;
}

.imagist:hover {
  filter: brightness(70%);
}

.imager {
  background-repeat: no-repeat;
  background-size: cover;
}

#mobile {
  display: none;
}

.container .row .presenter {
  max-width: 22.5rem;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  top: 13px;
  font-size: 19px;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

@media only screen and (max-width: 1026px) {
  .container .row .presenter {
    max-width: 18.5rem;
  }
}
@media only screen and (max-width: 780px) {
  #mobile {
    display: block;
  }
  #desktop {
    display: none;
  }
  .container .row .presenter {
    max-width: 13.5rem;
  }
  .container .row .presenter .pressers .imager {
    height: 120px;
  }
}
@media only screen and (min-width: 500px) {
  .card.presenter {
    transition: transform 0.3s ease-in-out; /* Add transition property for smooth effect */
    margin: 10px;
  }
  .card.presenter:hover {
    transform: scale(1.1); /* Increase the scale to 1.1 on hover (you can adjust the value) */
  }
  #profilePic {
    border-radius: 50px;
  }
  footer {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 490px) {
  #titleLabel div .imgIcon {
    margin-bottom: 5px;
  }
  iframe {
    width: 100%;
  }
  .container .row .presenter {
    width: 100%;
    max-width: none;
  }
  .container .row .presenter .presser .imager {
    height: auto;
  }
  .container .row .presenter .presser .imager #colmarAcademy {
    margin-top: 0;
  }
  .container .row .presenter .presser .imager #xysTinyFind {
    margin-top: 0;
  }
  .container .row .presenter .presser .imager #memeGenerator {
    margin-top: 0;
  }
  .container .row .presenter .presser .imager #museumOfSweets {
    margin-top: 0;
  }
  .container .row .presenter .presser .imager #scoreKeeper {
    margin-top: 0;
  }
  .container .row .presenter .presser .imager #soleShoes {
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */