$color_1: #ffffff;
$color_2: #fff;
$color_3: #fbd1d5;
$color_4: #2a70e0;

$font-family_1: Roboto, sans-serif;
@keyframes fadeInLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rollOut {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.roll-out-text {
  animation: rollOut 1s ease-out;
}

.fade-in-left-to-right {
  animation: fadeInLeftToRight 3s ease-out;
  display: flex;
  flex-wrap: wrap;
}

.imgIcon:nth-child(1) {
  animation-delay: 1s;
}

.imgIcon:nth-child(2) {
  animation-delay: 2s;
}

body {
  font-family: $font-family_1;
  //background-image: url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
  background-color: #d3d3d3;
}
header {
  padding: 20px 0;
  .row {
    display: flex;
    align-items: center;
  }
}
footer {
  .row {
    display: flex;
    align-items: center;
  }
  font-size: 12px;
  padding: 20px 0;
  .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  ul {
    list-style: none;
  }
}
h1 {
  font-weight: 700;
  margin: 0;
}
nav {
  display: flex;
  justify-content: flex-end;
}
a {
  padding: 0 20px;
  margin: 0;
}
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("images/xeno-eclipse.jpg");
  background-size: cover;
  color: $color_1;
  height: 400px;
  h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: $color_2;
  }
  h3 {
    margin: 0 0 20px;
    color: $color_2;
  }
}
.titles {
  font-family: "Macondo", cursive;
  font-size: 2rem;
}

.col-md-6 {
  margin: 0 0 30px;
}
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: $color_3;
  background-color: $color_1;
  &:hover {
    color: $color_1;
    background-color: $color_3;
  }
}
.btn-secondary {
  background-color: $color_4;
  color: $color_1;
  margin: 0 0 30px;
}

figure {
  img {
    width: 100%;
    height: auto;
  }
  margin-bottom: 30px;
}
.imageHolder {
  height: 160px;
  display: flex;
  align-items: center;
}
#profilePic {
  width: 100%;
}
.views {
  display: none;
}

.presser {
  cursor: pointer;
}

.hide {
  display: none;
}

.javascript {
  background: linear-gradient(
    rgba(251, 255, 4, 0.2),
    (rgba(247, 248, 170, 0.2))
  );
}
.sass {
  background: linear-gradient(
    rgba(239, 6, 247, 0.2),
    (rgba(252, 168, 245, 0.2))
  );
}
.htmlCss {
  background: linear-gradient(
    rgba(24, 132, 255, 0.2),
    (rgba(142, 194, 253, 0.2))
  );
  //background: linear-gradient(rgba(253, 69, 13, 0.2), (rgba(33, 30, 248, 0.2)));
}
.bootstrap {
  background: linear-gradient(rgba(111, 0, 255, 0.2), rgba(109, 49, 248, 0.2));
}

.logo {
  margin: 2%;
  img {
    height: 60px;
    border-radius: 15%;
  }
}
canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.javacon {
}
.logo2 {
  img {
    height: 40px;
  }
}
.logo3 {
  img {
    width: 5px;
  }
}
.imagist {
  width: 100%;
  display: block;
  transition: filter 1s ease;
  border-radius: 20px;
}
.imagist:hover {
  filter: brightness(70%);
}
.imager {
  background-repeat: no-repeat;
  background-size: cover;
}

#mobile {
  display: none;
}

.container {
  .row {
    .presenter {
      width: 18rem;
    }
  }
}

@media only screen and (max-width: 780px) {
  #mobile {
    display: block;
  }
  #desktop {
    display: none;
  }
  .container {
    .row {
      .presenter {
        width: 18rem;
        .presser {
          .imager {
            height: 120px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  #experience {
    .card-header {
      //height: 300px;
      img {
        //height: 100%;
        //width: auto;
      }
    }
  }
  #profilePic {
    border-radius: 50px;
  }
  footer {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 490px) {
  #titleLabel {
    div {
      .imgIcon {
        margin-bottom: 5px;
      }
    }
  }
  iframe {
    width: 100%;
  }
  .container {
    .row {
      .presenter {
        width: 100%;
        .presser {
          .imager {
            height: auto;
            #colmarAcademy {
              margin-top: 0;
            }
            #xysTinyFind {
              margin-top: 0;
            }
            #memeGenerator {
              margin-top: 0;
            }
            #museumOfSweets {
              margin-top: 0;
            }
            #scoreKeeper {
              margin-top: 0;
            }
            #soleShoes {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
